body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.base-layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
}

.base-layout__navigation {
  margin: 0.5rem 0 0 0.5rem;
  position: absolute;
  min-width: 200px;
  z-index: 10;
  background-color: white;
}

.base-layout__content {
  z-index: 0;
}
